<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jeninemay.lucero.com.finalsproject_ignacio_lucero">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".iCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisasterList" />
        <activity android:name=".Flood" />
        <activity android:name=".Typhoon" />
        <activity android:name=".VolcanicErruption" />
        <activity android:name=".LandSlide" />
        <activity android:name=".FloodToDo" />
        <activity android:name=".TyphoonToDo" />
        <activity android:name=".LandSlideToDo" />
        <activity android:name=".VolcanicToDo" />
        <activity android:name=".ToBringTyphoon" />
        <activity android:name=".ToBringLandslide" />
        <activity android:name=".ToBringVolcanicErruption" />
        <activity android:name=".ToBringFlood"></activity>
    </application>

</manifest>